---
const { project } = Astro.props;
---

<div class="bg-primary rounded-lg overflow-hidden flex flex-col">
  <img src={project.image.src} alt={project.title} />
  <div class="p-5 flex flex-col gap-5 justify-between flex-grow">
    <div>
      <h3 class="font-semibold text-2xl mb-5">{project.title}</h3>
      <ul class="flex gap-2 flex-wrap">
        {
          project.tags?.map((tag: string) => (
            <li class="bg-accent rounded-full text-black px-4 py-1">{tag}</li>
          ))
        }
      </ul>
    </div>
    <p>{project.description}</p>
    <div class="flex gap-4 text-black mt-2">
      <a
        href={project.github_url}
        target="_blank"
        rel="noreferrer"
        rel="noopener"
        class="bg-secondary rounded p-1 flex gap-2 hover:scale-105 transition"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
          ></path>
        </svg>

        Source Code
      </a>
      {
        project.project_url && (
          <a
            href={project.project_url}
            target="_blank"
            rel="noreferrer"
            rel="noopener"
            class="bg-secondary rounded p-1 flex gap-2 hover:scale-105 transition"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
              />
            </svg>
            Demo
          </a>
        )
      }
    </div>
  </div>
</div>
